* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

:root {
  --background-color: aliceblue;
  --color: black;
  color-scheme: light dark;
  
}

body {
  min-height: 100vh;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, li {
  list-style: none;
  text-decoration: none;
  color: black;
  
}

nav {
  background-color: black;
  
 
  
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  width: 100%;
  text-align: center;
  

}

li:first-child {
  margin-right: auto;
  margin-left: 0;
}

nav li {
  margin-left: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  
  
  
}

nav a {
  height: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

button {
  border: solid;
  border-width: 1px;
  
  border-radius: 30px;
  padding: 4px 13px;
  font-size: 1em;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: aliceblue;
  
}
svg {
  fill: aliceblue;
  margin-right: 10px;
}
.menu-bar {
  display: none;
}
.side-bar {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.685);
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .menu-bar {
    display: flex;
  }

  .hide-links {
    display: none;
  }
}

@media (max-width: 400px) {
  .side-bar {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --color: aliceblue;
  }


}





