* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

:root {
  --background-color: aliceblue;
  --color: black;
  color-scheme: light dark;
  
}

body {
  min-height: 100vh;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  width: 100%;
}

a, li {
  list-style: none;
  text-decoration: none;
  color: black;
  
}

nav {
  background-color: black;
  width: 100%;
  
 
  
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  width: 100%;
  text-align: center;
  

}

li:first-child {
  margin-right: auto;
  margin-left: 0;
}

nav li {
  margin-left: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  
  
  
}

nav a {
  height: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

button {
  border: solid;
  border-width: 1px;
  
  border-radius: 30px;
  padding: 4px 13px;
  font-size: 1em;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: aliceblue;
  
}
svg {
  fill: aliceblue;
  margin-right: 10px;
}
.menu-bar {
  display: none;
}
.side-bar {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.685);
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


section{
  background-color: black;
  margin-top: 100px;
  color: white;
  display: flex;
  
  align-items: center;
  justify-self: center;
  height: 50%;
  padding: 20px 20px;
  width: 75%;
  border-radius: 20px;
}

.exam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  /* display: grid;
  row-gap: 10px;
  width: 100%; */
  
}

.btns {
  width: 100%;
}

/* .btns button {
  width: 50%;
} */

@media (max-width: 400px) {
  .side-bar {
    width: 100%;
  }

  .hide-links {
    display: none;
  }

  .menu-bar {
    display: flex;
  }

  section {
    width: 75%;
  }

}

@media (min-width: 800px) {
  .side-bar {
    width: 100%;
  }

  /* .hide-links {
    display: flex;
  } */

  .menu-bar {
    display: none;
  }
  .nav-bar {
    width: 100%;
  }

  section {
    
    width: 50%;
  }

  .exam {
    width: 100%;
    
  }
}

.exam div {
  width: 100%;
}



/* @media (max-width: 600px) {
  
  

  .side-bar {
    width: 100%;
  }

  section {
    width: 50%;
  }
}

@media (min-width: 400px) {
  .nav-bar {
    width: 100%;
  }
  /* .side-bar {
    width: 100%;
  } */

  /* section{
    width: 75%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --color: aliceblue;
  }


}

@media (min-width: 800px) {
  section {
    width: 75%;
    
  }


} */ 

/* section {
  display: grid;
  grid-template-columns: repeat(auto, 25%);
  
} */






